<ion-view view-title="group" class="group-view">
  <ion-pane>
    <ion-header-bar class="bar-dark">
      <button class="button button-outline button-light" ng-click="goBack()">Back</button>
      <h1 class="title">Group Name</h1>
    </ion-header-bar>
    <ion-content>
      <div class="flexbox group-section">
        <div class="group-notification">
          <h1 id="clock">09:00:00</h1>
          <h3>6 Mandadas</h3>
        </div>
        <div class="group-users">
          <div class="user"></div>
          <div class="user"></div>
          <div class="user"></div>
          <div class="user"></div>
          <div class="user"></div>
          <div class="user"></div>
          <div class="user"></div>
          <div class="user"></div>
        </div>
        <div class="group-actions">
          <button class="button button-positive">Llamar a Domino's Pizza</button>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>


