<ion-view view-title="signup" class="signup-view">
  <ion-pane>
    <!--<ion-header-bar class="bar-dark">-->
      <!--<h1 class="title">Mandamejor</h1>-->
    <!--</ion-header-bar>-->
    <ion-content>
      <div class="flexbox">
        <div class="list sign-up">
          <h1 class="title">Mandamejor</h1>
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password">
          </label>
          <div class="row">
            <div class="col col-offset-10 col-80 text-center">
              <a ui-sref="group" class="button button-outline button-positive sign-up-submit">
                Sign up
              </a>
              <a ui-sref="signin" class="button button-outline button-balanced sign-up-submit">
                Sign in
              </a>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>


